// Variables
$main-bg-color: black;
$main-text-color: white;
$pickMe-accent-color: rgb(223, 125, 141);


// Main styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: $main-bg-color;
    color: $main-text-color;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


// Header styles
header {
    width: 100%;
    
    padding: 1rem 0 1rem;

    border-bottom: 0.2rem solid $pickMe-accent-color;
    border-radius: 1rem;

    h1 {
        font-size: .8rem;
        text-align: center;
        
        span {
            color: $pickMe-accent-color;
        }

        @media screen and (min-width: 1440px) {
            font-size: 3rem;
        }
    }
}


// Main content styles
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex-grow: 1;

    section {
        p {
            @media screen and (min-width: 425px) {
                font-size: 1.5rem;
            }

            @media screen and (min-width: 768px) {
                font-size: 2rem;
            }

            @media screen and (min-width: 1920px) {
                font-size: 2.4rem;
            }
        }

        span {
            color: $pickMe-accent-color;
        }

        div {
            margin-top: 1rem;

            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;

            button {
                padding: .5rem 1rem .5rem 1rem;

                border: 0.12rem solid $pickMe-accent-color;
                border-radius: .3rem;

                background-color: transparent;
                color: $main-text-color;

                &:disabled {
                    border-color: grey;
                    color: rgba(255, 255, 255, 0.4);
                }

                @media screen and (min-width: 425px) {
                    font-size: 1.2rem;
                }

                @media screen and (min-width: 768px) {
                    padding: 1rem 2rem 1rem 2rem;

                    font-size: 1.8rem;
                }
            }
        }
    }
}


// Footer styles
footer {
    width: 100%;

    padding: 1rem;

    border-top: 0.2rem solid $pickMe-accent-color;
    border-radius: 1rem;

    flex-shrink: 0;
    
    p {
        font-size: 1rem;
        text-align: right;

        @media screen and (min-width: 425px) {
            font-size: 1.2rem;
        }

        @media screen and (min-width: 1440px) {
            font-size: 1.5rem;
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;

        list-style-type: none;

        li {
            a {
                color: $pickMe-accent-color;

                text-decoration: none;
            }

            @media screen and (min-width: 425px) {
                font-size: 1.2rem;
            }

            @media screen and (min-width: 1440px) {
                font-size: 1.5rem;
            }
        }
    }
}